<mat-card>
  <div class="card-header">
    <img
      class="imageUser"
      src="{{ userImage ?? 'assets/img/profile_placeholder.png' }}"
    />
    <div>
      <div class="card-header">
        <div class="author">{{ author }}</div>
        <div class="timestamp">
          {{ timestamp | date : "EEE, dd. MMMM yy" }} |
          {{ timestamp | date : "HH:mm" }}
        </div>
        <div
          *ngIf="thread"
          (click)="channelService.openThread(channelId, threadId)"
          class="chatBubble"
        >
          <mat-icon
            fontIcon="chat bubble"
            matTooltip="answer in thread"
          ></mat-icon>
        </div>
      </div>

      <div [innerHTML]="message"></div>
      <div class="imagesContainer">
        <img
          *ngFor="let img of image"
          src="{{ img }}"
          (click)="channelService.openImg(img)"
          class="imageUploaded imageInMessage"
        />
      </div>
      <div *ngIf="thread && amountAnswers > 0" class="infoAnswers">
        <span
          class="amountAnswers"
          (click)="channelService.openThread(channelId, threadId)"
        >
          {{ amountAnswers }}
          {{ amountAnswers > 1 ? "answers" : "answer" }}</span
        >
        <span class="lastAnswer"
          >last answer: {{ lastAnswer | date : "EEE, dd. MMMM yy" }}
          {{ lastAnswer | date : "HH:mm" }}</span
        >
      </div>
    </div>
  </div>
</mat-card>
