mat-card {
  background-color: unset;
  box-shadow: unset;
  color: white;
  padding: 20px;

  .card-header {
    display: flex;

    .author {
      font-size: 15px;
      font-weight: 500;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .timestamp {
      font-size: 12px;
      color: gray;
    }
  }

  .imageUser {
    margin: 0 10px 0 0;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 8px;
  }

  .infoAnswers {
    margin-top: 5px;
  }

  .amountAnswers {
    color: #1b8cd1;
    font-weight: 500;
    cursor: pointer;
  }

  .lastAnswer {
    margin-left: 15px;
    color: gray;
    font-weight: 400;
  }
}

.chatBubble {
  margin-left: 20px;

  mat-icon {
    font-size: 20px;
    cursor: pointer;
    filter: invert(0.15);
  }
}

.imagesContainer {
  display: flex;
  flex-wrap: wrap;
}

@media (hover: hover) {
  .amountAnswers:hover {
    text-decoration: underline;
    filter: brightness(1.3);
  }

  mat-card:hover {
    background-color: rgb(31, 33, 37);
  }

  mat-icon:hover {
    filter: invert(0.25) !important;
  }
}
