<mat-card>
  <div class="card-header">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
    <div>
      <div class="card-header">
        <div class="author">{{ author }}</div>
        <div class="timestamp">
          {{ timestamp | date : "EEE, dd. MMMM yy" }} |
          {{ timestamp | date : "HH:mm" }}
        </div>
        
      </div>
      <div [innerHTML]="message"></div>
      <div *ngIf="thread && amountAnswers>0">{{amountAnswers}} Antworten</div>
    </div>
  </div>
</mat-card>
