<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <img
        mat-card-sm-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      />
      <mat-card-title>{{ author }}</mat-card-title>
      <!-- <mat-card-subtitle>Small</mat-card-subtitle> -->
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. A laboriosam
      minima repellat commodi nam praesentium voluptatem modi sint maxime? Nemo
      in, ipsam sequi est distinctio perspiciatis eum magnam provident iste.
    </p>
  </mat-card-content>
</mat-card>
