.forgotPassword {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 28px;
  }
}

.inputEmail {
  width: 400px;
  margin-top: 15px;
}

.buttonReset {
  margin-top: 10px;
  margin-bottom: 25px;
}

.forgotPwError {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 265px;
  height: auto;
  width: 400px;
  background-color: #3f51b5;
  color: white;
  font-size: 16px;
  z-index: 1000;
  animation: forgotPwError 4s ease-in-out;
}

@keyframes forgotPwError {
  0% {opacity: 0; transform: scale(0)};
  5% {opacity: 1; transform: scale(1)};
  95% {opacity: 1; transform: scale(1)};
  100% {opacity: 0; transform: scale(0)};
}

.resetPw {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -100px;
  height: 60px;
  width: 200px;
  z-index: 1000;
  background-color: #3f51c6;
  color: white;
  font-size: 20px;
  animation: resetPw 3s ease-in-out;
}

@keyframes resetPw {
  0% {bottom: -100px};
  30% {bottom: 20%};
  70% {bottom: 20%};
  100% {bottom: -100px};
}

.d-none {
  display: none;
}

@media (max-width: 450px) {
  .inputEmail {
    width: 300px;
  }

  p {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  .forgotPwError {
    top: 280px;
    width: 300px;
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .inputEmail {
    width: 250px;
  }

  .forgotPwError {
    width: 250px;
  }
}

@media (max-width: 300px) {
  .inputEmail {
    width: 200px;
  }

  .forgotPwError {
    width: 200px;
  }
}