<div class="overflow">

<app-sign-header></app-sign-header>

<div class="forgotPassword">
  
  <h1>Reset Password</h1>
  <p>Please enter your email address to request a password reset.</p>

  <mat-form-field class="inputEmail">
    <input type="email" matInput [formControl]="emailFormControl" placeholder="Email Address" #passwordResetEmail>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
  </mat-form-field>


  <button mat-raised-button color="primary" (click)="authenticationService.ForgotPassword(passwordResetEmail.value)" class="buttonReset">reset password</button>
  <button mat-raised-button routerLink="/">Login</button>

  <mat-card [class.d-none]="!authenticationService.resetPw" [class.resetPw] = "authenticationService.resetPw">
    <mat-card-content>reset password!</mat-card-content>
  </mat-card>

  <mat-card [class.d-none]="!authenticationService.forgotPwError" [class.forgotPwError] = "authenticationService.forgotPwError">
    <mat-card-content>{{authenticationService.forgotPwErrorMessage}}</mat-card-content>
  </mat-card>
  
</div>

<app-sign-footer></app-sign-footer>

</div>