@import "../channel-module/channel-module.component.scss";

.rightContent {
  height: calc(100vh - 125px);
  overflow: auto;
}

.close-thread-btn {
  cursor: pointer;
}

.imagesContainerThread {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 20px;
  left: 30px;
  right: 80px;
  height: 80px;
  background-color:#1f2125;
  z-index: 0;
  overflow-x: hidden !important;
  overflow: auto;

  div {
    height: 60px;
  }
}