<mat-toolbar-row class="channel-toolbar">
  <div class="flex-ac flex-sb full-width">
    <div>
      <span>Thread</span>
      <span class="channel-name"
        ><mat-icon>numbers</mat-icon> {{ threadService.channelName }}</span
      >
    </div>

    <div class="close-thread-btn">
      <mat-icon (click)="closeThread()">close</mat-icon>
    </div>
  </div>
</mat-toolbar-row>
<div class="rightContent" (click)="channelService.editorRef = 'thread'">
  <div *ngIf="threadService.thread">
    <app-thread-card
      *ngFor="let message of threadService.thread['MESSAGES']; index as i"
      [author]="message['author']['author']"
      [userImage]="message['author']['userImage']"
      [message]="message['content']"
      [timestamp]="message['timestamp']['seconds'] * 1000"
      [class.d-none]="
        !message['content']
          .toLowerCase()
          .includes(channelService.searchValue.toLowerCase()) &&
        !message['author']
          .toLowerCase()
          .includes(channelService.searchValue.toLowerCase())
      "
    >
    </app-thread-card>
  </div>
  <app-text-editor></app-text-editor>
</div>
