@import "../channel-module/channel-module.component.scss";

.rightContent {
  height: calc(100vh - 125px);
  overflow: auto;
}

.close-thread-btn {
  cursor: pointer;
}

.imagesContainerThread {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: 30px;
  right: 80px;
  height: 60px;
  background-color: rgba(255, 192, 203, 0.37);
  z-index: 0;

  div {
    height: 60px;
  }
}