<mat-drawer-container class="example-container">
  <mat-drawer *ngIf="!this.channelService.menuCollapsed" mode="side" opened>
    <div class="server-name">
      <div class="logo">
        <img src="./assets/img/logo.png" />
        <span>Slack Clone</span>
        <button class="new-msg-btn" mat-mini-fab>
          <mat-icon [ngStyle]="{ color: 'black' }">edit_note</mat-icon>
        </button>
      </div>
    </div>
    <div class="navigation">
      <div class="nav-hl flex-ac">
        <mat-icon font-icon>comment</mat-icon>
        <p>Threads</p>
      </div>
      <div class="nav-hl flex-ac">
        <mat-icon font-icon>supervisor_account</mat-icon>
        <p>Users</p>
      </div>
    </div>

    <app-channels></app-channels>
    <app-direct-messages-section></app-direct-messages-section>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
