* {
  color: white;
  user-select: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-size: 20px;

  img {
    height: 40px;
    width: 40px;
  }

  span {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.mat-drawer-side {
  border-right: 1px solid rgb(87, 87, 87);
}

.mat-drawer {
  top: 64px;
  max-width: 300px;
  width: 30%;
  background-color: var(--bg-color-side-nav);
}

.mat-drawer-container {
  position: unset;
  height: 100%;
}

.mat-drawer-content {
  background-color: rgb(25, 27, 30);
  overflow: hidden;
}

.server-name {
  position: sticky;
  top: 0;
  padding: 8px 10px;
  height: 61px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(87, 87, 87);
  background-color: var(--bg-color-side-nav);
}

p,
span,
h1,
h2,
h3,
h4 {
  margin: 0 !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.navigation {
  div:first-of-type {
    margin-top: 8px;
  }

  div:last-of-type {
    margin-bottom: 8px;
  }
}

.nav-hl {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 8px;
  padding: 5px 12px;
  font-size: 16px;

  cursor: pointer;

  p {
    margin: 0 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &:hover {
    border-radius: 5px;
    background-color: rgb(35, 33, 39);
  }
}

.new-msg-btn {
  height: 35px;
  width: 35px;
  margin-left: auto;
  background-color: white;
  &:active {
    transform: scale(0.9);
    filter: brightness(0.9);
  }
}

@media screen and (max-width: 480px) {
  mat-drawer {
    width: 100% !important;
    max-width: unset !important;
  }
}
