* {
  color: white;
  user-select: none;
}

.mat-drawer-side {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.mat-drawer {
  top: 64px;
  max-width: 300px;
  width: 30%;
  background-color: var(--bg-color-side-nav);
}

.mat-drawer-container {
  position: unset;
}

.server-name {
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: var(--bg-color-side-nav);

  h2 {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.navigation {
  div:first-of-type {
    margin-top: 8px;
  }

  div:last-of-type {
    margin-bottom: 8px;
  }
}

.nav-hl {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 8px;
  padding: 5px 20px 5px 20px;
  font-size: 16px;

  cursor: pointer;

  p {
    margin: 0 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &:hover {
    border-radius: 5px;
    background-color: rgba(5, 0, 51, 0.712);
  }

  &:active {
    border-radius: 5px;
    background-color: rgba(255, 187, 0, 0.596);
  }
}

.new-msg-btn {
  &:active {
    transform: scale(0.9);
    filter: brightness(0.9);
  }
}

.channel-toolbar {
  font-size: 20px;
  background-color: var(--bg-color-side-nav);
  height: 64px;
}
