<!-- <mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav [mode]="mode.value || 'side'">
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <h2>Developer Akademie</h2>
   
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div class="server-name flex-ac">
      <h2>Developer Akademie</h2>
      <button
        class="new-msg-btn"
        mat-mini-fab
        [ngStyle]="{ 'background-color': 'white' }"
      >
        <mat-icon [ngStyle]="{ color: 'black' }">edit_note</mat-icon>
      </button>
    </div>
    <div class="navigation">
      <div class="nav-hl flex-ac">
        <mat-icon font-icon>comment</mat-icon>
        <p>Threads</p>
      </div>
      <div class="nav-hl flex-ac">
        <mat-icon font-icon>supervisor_account</mat-icon>
        <p>Users</p>
      </div>
    </div>

    <app-channels></app-channels>
    <app-direct-messages-section></app-direct-messages-section>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar-row class="channel-toolbar">
      <div class="flex-ac">
        <mat-icon fontIcon="numbers"></mat-icon><span>channel name</span>
      </div>
    </mat-toolbar-row>
    <div class="channel-content-container">
      <app-message-card></app-message-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
