* {
  color: white;
  user-select: none;
}

.mat-drawer-side {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.mat-drawer {
  top: 64px;

  width: 300px;
  background-color: var(--bg-color-side-nav);
}

.mat-drawer-container {
  position: unset;
}

.server-name {
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: var(--bg-color-side-nav);

  h2 {
    margin: 0;
  }
}

.thread-hl {
  gap: 10px;
  padding: 5px 20px 5px 20px;
  margin: 8px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    border-radius: 5px;
    background-color: rgba(5, 0, 51, 0.712);
  }

  &:active {
    border-radius: 5px;
    background-color: rgba(255, 187, 0, 0.596);
  }
}

.new-msg-btn {
  &:active {
    transform: scale(0.9);
    filter: brightness(0.9);
  }
}
