mat-toolbar-row {
  align-items: center;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 300px;
  height: 64px;
  background-color: var(--bg-color-side-nav);
  color: white;

  span {
    font-size: 20px;
  }
}

.logout {
  cursor: pointer;
}

.header-toolbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  div {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      height: 40px;
      width: 40px;
    }
  }
}

.searchbar {
  justify-content: space-between;
  height: 30px;
  width: 30%;
  border-radius: 6px;
  background-color: #742175;
  padding: 0 10px;

  input {
    width: 100%;
    outline: unset;
    border: unset;
    color: white;
    background-color: #742175;
  }

  mat-icon {
    cursor: pointer;
  }
}

.profile-img,
a {
  height: 40px;
  width: 40px;
  position: relative;

  img {
    border-radius: 6px 6px 0 6px;
    object-fit: cover;
  }

  .status-dot {
    position: absolute;
    z-index: 2;
    right: -2px;
    bottom: -2px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: green;
  }
}

.profile-img::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: var(--bg-color-side-nav);
  bottom: -4px;
  right: -4px;
  height: 14px;
  width: 14px;
  border-radius: 100%;
}
