<div class="channel-header">
  <mat-toolbar>
    <mat-toolbar-row class="header-toolbar">
      <div>
        <img src="./assets/img/logo.png" />
        <span>Slack Clone</span>
      </div>

      <div>
        <a (click)="authenticationService.SignOut()" class="logout">logout</a>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="channel-toolbar">
      <div class="flex-ac">
        <mat-icon fontIcon="numbers"></mat-icon><span>channel name</span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
