mat-toolbar-row {
  align-items: center;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 300px;
  height: 64px;
  background-color: var(--bg-color-side-nav);
  color: white;

  span {
    font-size: 20px;
  }
}

.logout {
  cursor: pointer;
}

.header-toolbar {
  border-bottom: 1px solid rgb(87, 87, 87);

  img {
    height: 40px;
    width: 40px;
  }
}

.burger-menu-btn {
  &:active {
    transform: scale(0.9);
    filter: brightness(0.9);
  }
}

.searchbar {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  height: 30px;
  width: 50%;
  max-width: 350px;
  border-radius: 6px;
  background-color: rgb(49, 49, 52);
  padding: 0 10px;

  input {
    width: 100%;
    outline: unset;
    border: unset;
    color: white;
    background-color: rgb(49, 49, 52);
  }
}

.delete {
  transform: scale(0.8);
  cursor: pointer;

  &:hover {
    filter: invert(0.1);
  }
}

.search {
  filter: invert(0.5);
}

.profile-img,
a {
  height: 40px;
  width: 40px;
  position: relative;

  img {
    border-radius: 6px 6px 0 6px;
    object-fit: cover;
  }

  .status-dot {
    position: absolute;
    z-index: 2;
    right: -2px;
    bottom: -2px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: rgb(0, 236, 0);
  }
}

.profile-img a::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: var(--bg-color-side-nav);
  bottom: -4px;
  right: -4px;
  height: 14px;
  width: 14px;
  border-radius: 100%;
}

// Burger Menu Animation //

svg {
  height: 50px;
  position: absolute;
  width: 50px;
}

.plate {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.burger {
  // filter: url(#gooeyness);
}
.x {
  transform: scale(0);
  transition: transform 400ms;
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
    transform 500ms 200ms;
}
.x .line {
  stroke-width: 5.5px;
}
/* First plate */
.plate1 .line2 {
  stroke-dasharray: 40 200;
  stroke-dashoffset: 0px;
}
.plate1 .line3 {
  stroke-dasharray: 40 179;
  stroke-dashoffset: 0px;
}
.active .line {
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}
.active.plate1 .line1 {
  transform: scale(0, 1);
  transition: transform 500ms 100ms;
}
.active.plate1 .line2 {
  stroke-dasharray: 5px 200;
  stroke-dashoffset: -164px;
}
.active.plate1 .line3 {
  stroke-dasharray: 5px 179;
  stroke-dashoffset: -142px;
}
.active .x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}
