<div class="channel-header">
  <mat-toolbar>
    <mat-toolbar-row class="header-toolbar">
      <div>
        <img src="./assets/img/logo.png" />
        <span>Slack Clone</span>
      </div>

      <div class="searchbar">
        <input type="text" />
        <mat-icon fontIcon="search"></mat-icon>
      </div>

      <div class="profile-img">
        <a (click)="authenticationService.SignOut()" class="logout"><img src="./assets/img/profile_image.jpg"><div class="status-dot"></div></a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
