<div (click)="toggleDropdown()" class="channel-hl flex-ac">
  <mat-icon
    [ngClass]="collapsed ? 'rotate90' : ''"
    style="transition: all 125ms ease-in-out"
    fontIcon="arrow_drop_down"
  ></mat-icon>
  <p>Channels</p>
</div>

<div *ngIf="!collapsed" class="channel-dropdown-menu">
  <app-channel-item
    *ngFor="let channel of channels index as i"
    [name]="channel.name"
    [isPrivate]="channel.isPrivate"
    [routerLink]="['/home/channel/' + channel.id]"
  ></app-channel-item>

  <div (click)="openDialog()" class="channel flex-ac">
    <mat-icon fontIcon="add"></mat-icon>
    <p>Create new channel</p>
  </div>
</div>
