<div (click)="toggleDropdown()" class="channel-hl flex-ac">
  <mat-icon
    [ngClass]="collapsed ? 'rotate90' : ''"
    style="transition: all 125ms ease-in-out;"
    fontIcon="arrow_drop_down"
  ></mat-icon>
  <span>Channels</span>
</div>

<div *ngIf="!collapsed" class="channel-dropdown-menu">
  <div class="channel flex-ac">
    <mat-icon fontIcon="numbers"></mat-icon>
    <span>angular</span>
  </div>
  <div class="channel flex-ac">
    <mat-icon fontIcon="numbers"></mat-icon>
    <span>html/css</span>
  </div>
  <div class="channel flex-ac">
    <mat-icon fontIcon="numbers"></mat-icon>
    <span>javascript</span>
  </div>
  <div class="channel flex-ac">
    <mat-icon fontIcon="numbers"></mat-icon>
    <span>community</span>
  </div>
  <div class="channel flex-ac">
    <mat-icon fontIcon="numbers"></mat-icon>
    <span>projects</span>
  </div>
  <div (click)="createChannel()" class="channel flex-ac">
    <mat-icon fontIcon="add"></mat-icon>
    <span>Create new channel</span>
  </div>
</div>
