@import "../sign-in/sign-in.component.scss";

p {
  font-size: 18px;
  color: white;
  padding-bottom: 40px;
  text-align: center;
}

.bold {
  font-weight: 500;
}

.spanSignIn {
  color: #1266a6 !important;
  text-decoration: none !important;

  @media (hover: hover) {
    &:hover {
      color: #177bc8 !important;
      text-decoration: underline !important;
    }
  }
}

.signUpError {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 425px;
  height: auto;
  width: 400px;
  background-color: #ef4135;
  color: white;
  font-size: 16px;
  z-index: 1000;
  animation: signUpError 4s ease-in-out;
}

@keyframes signUpError {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  5% {
    opacity: 1;
    transform: scale(1);
  }
  95% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@media (max-width: 700px) {
  .mainContent h1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 600px) {
  .signUpError {
    top: 470px;
  }
}

@media (max-width: 550px) {
  p {
    padding-left: 40px;
    padding-right: 40px;
  }
  .signUpError {
    top: 490px;
  }
}

@media (max-width: 450px) {
  .signUpError {
    width: 300px;
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .signUpError {
    width: 250px;
    top: 560px;
  }
}
@media (max-width: 300px) {
  .signUpError {
    width: 250px;
  }
}
