.mainContentContainer {
  display: flex;
  justify-content: center;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;

  h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 46px;
    text-align: center;
    margin: 0 0 15px 0;
    color: #1d1c1d;
  }

  p {
    font-size: 18px;
    color: #454245;
    margin-bottom: 40px;
  }

  button {
    width: 400px;
    height: 44px;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 18px;
  }
}

.bold {
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputEmail {
  width: 400px;
}

.horizontalContent {
  display: flex;
  width: 400px;
  margin: 16px 0 24px 0;

  hr {
    width: 150px;
    height: 0;
    border: 1px solid #dddddd;
    border-top: 0;
  }

  span {
    font-size: 15px;
  }
}

.spanQuestion {
  margin-top: 10px;
  color: #616061;
}

.spanSignIn {
  color: #1266a6;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.d-none {
  display: none;
}

.signUpError {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 430px;
  height: auto;
  width: 400px;
  background-color: #ef4135;
  color: white;
  font-size: 16px;
  z-index: 1000;
  animation: signUpError 4s ease-in-out;
}

@keyframes signUpError {
  0% {opacity: 0; transform: scale(0)};
  5% {opacity: 1; transform: scale(1)};
  95% {opacity: 1; transform: scale(1)};
  100% {opacity: 0; transform: scale(0)};
}
