.leftAndRight {
  display: flex;
  width: 100%;
}

.left {
  width: 100%;
  // min-width: 350px;
  height: calc(100vh - 64px);
}

.leftContent {
  height: calc(100vh - 120px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.channel-toolbar {
  font-size: 20px;
  background-color: rgb(25, 27, 30);
  height: 61px;
  padding: 8px 20px;
  border-bottom: 1px solid rgb(87, 87, 87);
}

.scroll-container {
  overflow-y: auto;
}

.right {
  width: 100%;
  height: calc(100vh - 64px);
  border-left: 1px solid rgb(87, 87, 87);
}

span {
  color: white;
  font-size: 20px;
}

.channel-name {
  padding-left: 15px;
  color: gray;
  font-size: 14px;
  mat-icon {
    font-size: 14px;
    height: 14px;
    width: 12px;
  }
}

// .hide-scrollbar::-webkit-scrollbar {
//   display: none;
// }

// .hide-scrollbar {
//   -ms-overflow-style: none;
//   scrollbar-width: none;
// }

::-webkit-scrollbar-thumb {
  background: #ababad;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.open {
  display: block;
}

.d-none {
  display: none;
}

// @media screen and (max-width: 1100px) {
//   .left {
//     display: none;
//   }
// }

.threadCard {
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .right {
    border-left: unset !important;
  }
}
