<mat-toolbar-row class="channel-toolbar">
  <div class="flex-ac">
    <mat-icon *ngIf="channelService.channelName" fontIcon>{{
      channelService.channelIsPrivate ? "lock" : "numbers"
    }}</mat-icon>
    <span> {{ channelService.channelName }}</span>
  </div>
</mat-toolbar-row>
<div
  class="leftContent"
  [routerLink]="['/home/channel/' + channelService.channelId]"
  (click)="channelService.editorRef = 'channel'"
>
  <div #scrollContainer id="scrollContainer" class="scroll-container">
    <!-- <app-thread-card *ngFor="let thread of channelService.threads index as i" [index]="i" [author]="channelService.allAuthors[i]" [message]="channelService.allMessages[i]" (click)="openThread()"></app-thread-card> -->

    <app-thread-card
      [thread]="true"
      class="threadCard"
      *ngFor="let thread of channelService.threads; index as i"
      [index]="i"
      [amountAnswers]="thread['MESSAGES'].length - 1"
      [lastAnswer]="
        thread['MESSAGES'][thread['MESSAGES'].length - 1]['timestamp'][
          'seconds'
        ] * 1000
      "
      [author]="thread['MESSAGES'][0]['author']['displayName']"
      [userImage]="thread['MESSAGES'][0]['author']['userImage']"
      [message]="thread['MESSAGES'][0]['content']"
      [timestamp]="thread['MESSAGES'][0]['timestamp']['seconds'] * 1000"
      [class.d-none]="
        !thread['MESSAGES'][0]['content']
          .toLowerCase()
          .includes(channelService.searchValue.toLowerCase()) &&
        !thread['MESSAGES'][0]['author']['displayName']
          .toLowerCase()
          .includes(channelService.searchValue.toLowerCase())
      "
    >
    </app-thread-card>
  </div>
  <app-text-editor class="editor-channel"></app-text-editor>
</div>
