header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  padding: 48px 0 40px 0;

  img {
    height: 26px;
    width: 26px;
    margin-right: 5px;
  }

  h2 {
    margin: 0;
    font-size: 26px;
    font-weight: 800;
  }
}

.mainContentContainer {
  display: flex;
  justify-content: center;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;

  h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 46px;
    text-align: center;
    margin: 0 0 15px 0;
    color: #1d1c1d;
  }

  p {
    font-size: 18px;
    color: #454245;
    margin-bottom: 40px;
  }

  button {
    width: 400px;
    height: 44px;
    margin-bottom: 16px;
    font-size: 18px;
  }
}

.bold {
  font-weight: 500;
}

.inputEmail {
  width: 400px;
}

.horizontalContent {
  display: flex;
  width: 400px;
  margin: 8px 0 24px 0;

  hr {
    width: 150px;
    height: 0;
    border: 1px solid #dddddd;
    border-top: 0;
  }

  span {
    font-size: 15px;
  }
}

.spanQuestion {
  margin-top: 10px;
  color: #616061;
}

.spanSignIn {
  color: #1266a6;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;

  a {
    font-size: 15px;
    margin-right: 16px;
    color: #6e6969;
  }
}

