.overflow {
  height: 100%;
  overflow: auto;
}

.mainContentContainer {
  display: flex;
  justify-content: center;
  height: calc(100vH - 119px - 90px);
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;

  h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 46px;
    text-align: center;
    padding: 0 0 30px 0;
    color: #1d1c1d;
    white-space: initial;
  }

  button {
    width: 400px;
    height: 44px;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 18px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.inputEmail {
  width: 400px;
}

.horizontalContent {
  display: flex;
  width: 400px;
  padding: 16px 0 24px 0;

  hr {
    width: 150px;
    height: 0;
    border: 1px solid #dddddd;
    border-top: 0;
  }

  span {
    font-size: 15px;
  }
}

.spanQuestion {
  padding-top: 10px;
  color: #616061;
}

.spanSignUp {
  color: #1266a6;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.signInError {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(50% - 200px);
  top: 394px;
  height: auto;
  width: 400px;
  background-color: #ef4135;
  color: white;
  font-size: 16px;
  z-index: 1000;
  animation: signInError 4.1s ease-in-out;
}

@keyframes signInError {
  0% {opacity: 0; transform: scale(0)};
  5% {opacity: 1; transform: scale(1)};
  95% {opacity: 1; transform: scale(1)};
  100% {opacity: 0; transform: scale(0)};
}

.d-none {
  display: none;
}

.forgotPassword {
  padding-top: 20px;
  font-size: 16px;
  color: #616061;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 650px) {
  .mainContent h1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 450px) {
  .mainContent  {
    h1 {
      font-size: 40px;
    }

    button {
      width: 300px;
    }
  }

  .inputEmail {
    width: 300px;
  }

  .horizontalContent {
    width: 300px;

    hr {
      width: 100px;
    }
  }
  .signInError {
    left: calc(50% - 150px);
    width: 300px;
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .signInError {
    top: 445px;
  }
}

@media (max-width: 350px) {
  .mainContent  {
    button {
      width: 250px;
    }
  }

  .inputEmail {
    width: 250px;
  }

  .horizontalContent {
    width: 250px;

    hr {
      width: 80px;
    }
  }

  .signInError {
    left: calc(50% - 125px);
    width: 250px;
  }
}

@media (max-width: 300px) {
  .mainContent  {
    h1 {
      font-size: 36px;
    }

    button {
      width: 200px;
    }
  }

  .inputEmail {
    width: 200px;
  }

  .horizontalContent {
    width: 200px;

    hr {
      width: 60px;
    }
  }

  .signInError {
    left: calc(50% - 100px);
    width: 200px;
  }
}

@media (max-height: 800px) {
  .mainContentContainer {
    height: unset;
  }
}