.mainContentContainer {
  display: flex;
  justify-content: center;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;

  h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 46px;
    text-align: center;
    padding: 0 0 30px 0;
    color: #1d1c1d;
    white-space: initial;
  }

  button {
    width: 400px;
    height: 44px;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 18px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.inputEmail {
  width: 400px;
}

.horizontalContent {
  display: flex;
  width: 400px;
  padding: 16px 0 24px 0;

  hr {
    width: 150px;
    height: 0;
    border: 1px solid #dddddd;
    border-top: 0;
  }

  span {
    font-size: 15px;
  }
}

.spanQuestion {
  padding-top: 10px;
  color: #616061;
}

.spanSignUp {
  color: #1266a6;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.signInError {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(50% - 200px);
  top: 390px;
  height: auto;
  width: 400px;
  background-color: #ef4135;
  color: white;
  font-size: 16px;
  z-index: 1000;
  animation: signInError 4s ease-in-out;
}

@keyframes signInError {
  0% {opacity: 0; transform: scale(0)};
  5% {opacity: 1; transform: scale(1)};
  95% {opacity: 1; transform: scale(1)};
  100% {opacity: 0; transform: scale(0)};
}

.d-none {
  display: none;
}

.forgotPassword {
  padding-top: 20px;
  font-size: 16px;
  color: #616061;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}