<mat-toolbar-row class="channel-toolbar">
  <div class="flex-ac flex-sb full-width">
    <div>
      <span>Thread</span>
      <span class="channel-name"
        ><mat-icon>numbers</mat-icon> {{ channelService.channelName }}</span
      >
    </div>

    <div class="close-thread-btn">
      <mat-icon (click)="closeThread()">close</mat-icon>
    </div>
  </div>
</mat-toolbar-row>
<div class="rightContent">
  <div>
  <app-thread-card
    *ngFor="
      let message of channelService.threadMessages['MESSAGES'];
      index as i
    "
    [author]="message['author']"
    [message]="message['content']"
    [timestamp]="
      message['timestamp']['seconds'] * 1000 | date : 'yyyy/MM/dd HH:mm:ss'
    "
  >
  </app-thread-card>
</div>
  <app-text-editor></app-text-editor>
</div>
