@import "../open-channel/open-channel.component.scss";

.rightContent {
  //   min-width: 350px;
  height: calc(100vh - 125px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close-thread-btn {
  cursor: pointer;
}
