<mat-toolbar-row class="channel-toolbar">
    <div class="flex-ac">
      <mat-icon>add</mat-icon>
      <span>{{ '// HERE COME THE NAMES ... //' }}</span>
    </div>
  </mat-toolbar-row>
  <div class="leftContent" [routerLink]="['/home/chat/' + chatService.chatId]" (click)="channelService.editorRef = 'chat'">
    <div class="scroll-container">
      <app-thread-card
        class="threadCard"
        *ngFor="let message of chatService.chatMessages; index as i"
        {{ ... INPUT VARIABLES ... }}>
      </app-thread-card>
    </div>
    <app-text-editor class="editor-channel"></app-text-editor>
  </div>