<app-sign-header></app-sign-header>
<div class="verifyEmail">
  <h1>Thank You for Registering</h1>
  <!-- <div *NgIf="authenticationService.userData as user"> -->
    <!-- <p>
      We have sent you a confirmation email to <strong>{{ user.email }}</strong>.
    </p> -->
    <p>
      We have sent you a confirmation email
    </p>
    <p>
      Please check your email and click on the link to verfiy your email address.
    </p>
  

  <!-- Calling SendVerificationMail() method using authService Api -->
  
    <button mat-raised-button color="primary" type="button" class="btn btnPrimary" (click)="authenticationService.SendVerificationMail()" class="buttonResend">Resend Verification Email</button>  
    <button mat-raised-button routerLink="/sign-in"> Login</button>
  
</div>
<app-sign-footer></app-sign-footer>