@import 'src/app/components/channel-module/channel-module.component.scss';
@import 'src/app/components/header/header.component.scss';

#new-chat-command-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: unset;
}

#new-chat-header {
    width: 100%;
    justify-content: space-between;
}

#select-chatmembers {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#sel-user-container {
    display: flex;
    gap: 12px;
}

.sel-user-item {
    display: flex;
    align-items: center;
    font-size: 17px !important;
    background-color: rgb(90, 90, 90);
    padding: 2px 4px;
    border-radius: 2px;
    gap: 3px;
}

.sel-user-close {
    font-size: 15px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.userCard {
    cursor: pointer;
}