<mat-toolbar-row class="channel-toolbar" id="new-chat-command-line">
  <div id="new-chat-header" class="flex-ac">
    <div id="select-chatmembers">
      <span id="sel-chatmemb-intro">To:&nbsp;</span>
      <div id="sel-user-container">
        <div
          class="sel-user-item"
          *ngFor="let name of chatService.selectedUserNames; let i = index"
        >
          <span>{{ name }}</span>
          <mat-icon
            class="sel-user-close"
            fontIcon="close"
            (click)="deselectUser(i)"
          ></mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="new-chat-container">
    <div class="searchbar">
      <input
        type="text"
        placeholder="Search user..."
        [(ngModel)]="chatService.searchUser"
      />

      <mat-icon
        class="delete"
        fontIcon="delete"
        (click)="resetSearchUser()"
        *ngIf="chatService.searchUser"
      ></mat-icon>
      <mat-icon class="search" fontIcon="search"></mat-icon>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="createChat()"
      [disabled]="chatService.selectedUserIds.length == 0"
    >
      Create chat
    </button>
  </div>
</mat-toolbar-row>

<div class="leftContent">
  <div id="scrollContainer" class="scroll-container">
    <app-user-card
      class="userCard"
      *ngFor="let user of usersService.users"
      [userName]="user['displayName']"
      [email]="user['email']"
      [userImage]="user['photoURL']"
      [class.d-none]="
        (!user['displayName']
          .toLowerCase()
          .includes(chatService.searchUser.toLowerCase()) &&
          !user['email']
            .toLowerCase()
            .includes(chatService.searchUser.toLowerCase())) ||
        chatService.selectedUserIds.includes(user['uid']) ||
        user['uid'] == usersService.currentUserData.uid ||
        user['uid'] == guestId
      "
      (click)="selectUser(user['uid'], user['displayName'])"
      matTooltip="Click to select this user"
    ></app-user-card>
  </div>
</div>
