@import "src/app/components/channel-module/channel-module.component.scss";
@import "src/app/components/header/header.component.scss";

#new-chat-command-line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: unset;
}

#new-chat-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media screen and (max-width: 960px) {
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
  }
}

#select-chatmembers {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#sel-chatmemb-intro {
  height: 24px;
}

#sel-user-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;

  .sel-user-item {
    display: flex;
    align-items: center;
    font-size: 17px !important;
    background-color: rgb(90, 90, 90);
    padding: 2px 4px;
    border-radius: 5px;
    gap: 3px;

    span {
      font-size: 15px !important;
    }
  }
}

.sel-user-close {
  font-size: 15px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.userCard {
  cursor: pointer;
}

.new-chat-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mat-mdc-raised-button:disabled {
  color: #747474 !important;
  background-color: rgb(49, 49, 52) !important;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: rgba(255, 187, 0, 0.596) !important;
}

.mat-mdc-raised-button:hover {
  background-color: rgba(255, 187, 0, 0.8) !important;
}
