<mat-toolbar-row class="channel-toolbar">
  <div class="flex-ac">User List</div>
</mat-toolbar-row>
<app-user-card
  class="userCard"
  *ngFor="let user of usersService.users"
  [userName]="user['displayName']"
  [email]="user['email']"
  [userImage]="user['photoURL']"
  [class.d-none]="
    (!user['displayName']
      .toLowerCase()
      .includes(channelService.searchValue.toLowerCase()) &&
      !user['email']
        .toLowerCase()
        .includes(channelService.searchValue.toLowerCase())) ||
    user['displayName']
      .toLowerCase()
      .includes(usersService.currentUserData.displayName.toLowerCase())
  "
></app-user-card>
