@import 'src/app/components/channel-module/channel-module.component.scss';
// @import 'src/app/components/channel-item/channel-item.component.scss';

// #add-user {
//     cursor: pointer;
//     margin-left: 12px;
//     width: 28px;
//     height: 28px;
//     font-size: 24px;
// }

#members-list {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}