<mat-toolbar-row class="channel-toolbar">
  <div id="members-list" class="flex-ac">
    <div *ngFor="let member of chatService.chatMembers; let i = index">
      <span>{{ member.displayName }}</span>
      <span
        *ngIf="
          chatService.chatMembers.length > 1 &&
          i < chatService.chatMembers.length - 1
        "
        >,&nbsp;</span
      >
    </div>
    <!-- <app-select-chat-users></app-select-chat-users> -->
    <!-- <mat-icon id="add-user" class="add-item" matTooltip="Add a user to this chat">add</mat-icon> -->
  </div>
</mat-toolbar-row>
<div
  class="leftContent"
  [routerLink]="['/home/chat/' + chatService.chatId]"
  (click)="channelService.editorRef = 'chat'"
  (click)="channelService.showRef()"
>
  <div id="scrollContainer" class="scroll-container">
    <app-thread-card
      class="threadCard"
      *ngFor="let message of chatService.chatMessages; index as i"
      [author]="message['author']['displayName']"
      [userImage]="message['author']['userImage']"
      [message]="message['content']"
      [image]="message['image']"
      [timestamp]="message['timestamp']['seconds'] * 1000"
      [class.d-none]="
        !message['content']
          .toLowerCase()
          .includes(channelService.searchValue.toLowerCase()) &&
        !message['author']['displayName']
          .toLowerCase()
          .includes(channelService.searchValue.toLowerCase())
      "
    >
    </app-thread-card>
  </div>
  <div class="containerEditor">
    <app-text-editor></app-text-editor>
    <div class="imagesContainerChat" id="imagesChat"></div>
  </div>
</div>
