<mat-toolbar-row class="channel-toolbar">
  <div class="flex-ac">
    <div *ngFor="let member of chatService.chatMembers; let i = index">
      <span>{{ member.userName }}</span>
      <span
        *ngIf="
          chatService.chatMembers.length > 1 &&
          i < chatService.chatMembers.length - 1
        "
        >,&nbsp;</span
      >
    </div>
    <!-- <app-select-chat-users></app-select-chat-users> -->
    <!-- <mat-icon id="add-user" class="add-item" matTooltip="Add a user to this chat">add</mat-icon> -->
  </div>
</mat-toolbar-row>
<div
  class="leftContent"
  [routerLink]="['/home/chat/' + chatService.chatId]"
  (click)="channelService.editorRef = 'chat'"
>
  <div class="scroll-container">
    <app-thread-card
      class="threadCard"
      *ngFor="let message of chatService.chatMessages; index as i"
      [author]="chatService.chatMessages[i]['author']['userName']"
      [message]="chatService.chatMessages[i]['content']"
      [timestamp]="chatService.chatMessages[i]['timestamp']['seconds'] * 1000"
    >
    </app-thread-card>
  </div>
  <app-text-editor class="editor-channel"></app-text-editor>
</div>
