@import 'src/app/components/channel-module/channel-module.component.scss';

#add-user {
    background-color: rgb(83, 83, 83);
    border-radius: 50%;
    cursor: pointer;
    margin-right: 7px;
}

// #members-list {
//     display: flex;
// }