<div class="leftAndRight">

  <div class="left">
    <div class="leftContent">
      <app-thread-card *ngFor="let thread of functions.threads index as i" [index]="i" [author]="functions.allAuthors[i]" [message]="functions.allMessages[i]" (click)="openThread()"></app-thread-card>
    </div>
    <app-text-editor></app-text-editor>
  </div>

  <div [ngClass]="status ? 'right' : 'd-none'">
    <div class="bar" [ngClass]="status ? 'display' : 'd-none'">
      <span>Thread</span>
    </div>
    <div class="rightContent">
      <app-opened-thread></app-opened-thread>
    </div>
    <app-text-editor></app-text-editor>
  </div>

</div>