.leftAndRight {
  display: flex;
}

.left {
  width: 100%;
  height: calc(100vh - 64px);
}

.leftContent {
  margin: 20px;
  height: calc(100vh - 162px);
  position: relative;
  overflow-y: auto;
}

.channel-toolbar {
  font-size: 20px;
  background-color: var(--bg-color-side-nav);
  height: 57px;
  padding: 8px 20px;
  border-bottom: 1px solid rgb(119, 119, 119);
}

.right {
  width: 100%;
  height: calc(100vh - 64px);
  border-left: 1px solid rgb(119, 119, 119);
}

.rightContent {
  margin: 20px;
  height: calc(100vh - 162px);
}

span {
  color: white;
  font-size: 20px;
}

.channel-name {
  padding-left: 15px;
  color: gray;
  font-size: 14px;
  mat-icon {
    font-size: 14px;
    height: 14px;
    width: 12px;
  }
}

.close-thread-btn {
  cursor: pointer;
}

.editor-channel {
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.open {
  display: block;
}

.d-none {
  display: none;
}
