<div class="leftAndRight">

  <div class="left">
    <div class="leftContent">
      <!-- <app-thread-card *ngFor="let thread of channelService.threads index as i" [index]="i" [author]="channelService.allAuthors[i]" [message]="channelService.allMessages[i]" (click)="openThread()"></app-thread-card> -->
      <app-thread-card  *ngFor="let thread of channelService.firstMessages; index as i" [index]="i" [author]="channelService.firstMessages[i]['author']" [message]="channelService.firstMessages[i]['message']"(click)="channelService.openThread(i)"></app-thread-card>
    </div>
    <app-text-editor></app-text-editor>
  </div>

  <div [ngClass]="channelService.status ? 'right' : 'd-none'">
    <div class="bar" [ngClass]="channelService.status ? 'display' : 'd-none'">
      <span>Thread</span>
    </div>
    <div class="rightContent">
      <app-opened-thread></app-opened-thread>
    </div>
    <app-text-editor></app-text-editor>
  </div>

</div>