.user-direct-msg {
  gap: 8px;
  font-size: 14px;
  cursor: pointer;

  img {
    height: 24px;
    width: 24px;
    object-fit: cover;
    border-radius: 5px;
  }

  .badge-more-users {
    font-size: 12px;
    font-weight: bold;
    padding: 0px 7px;
    border-radius: 10px;
    // background-color: rgb(24, 23, 27);
    // color: rgb(134, 134, 134);
    // border: 1px solid rgb(134, 134, 134);
  }
}
