/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
@import "~quill-emoji/dist/quill-emoji.css";
@import "~quill-emoji/dist/quill-emoji.css";

:root {
  --bg-color-side-nav: #4a154b;
}

html,
body {
  height: 100%;
  font-size: 14px;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  margin: 0 !important;
}

.mat-icon {
  overflow: unset !important;
}

.mat-mdc-card {
  border-radius: unset !important;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.flex-ac {
  display: flex;
  align-items: center;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.dropdown-collapsed {
  display: none;
}

.rotate90 {
  transform: rotate(-90deg);
}

#emoji-palette {
  top: unset !important;
  bottom: 135px !important;
}

// .ql-toolbar{
// border-top-left-radius: 8px;
// border-top-right-radius: 8px;
// }

// .ql-container{
//   border-bottom-left-radius: 8px;
//   border-bottom-right-radius: 8px;
// }
