.editor {
  position: relative;
  background-color: white;
  z-index: 999;


  quill-editor {
    height: 100px;
    width: 100%;
    z-index: 999;
   
  }
  
  button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
  }
}
