<div class="editor">

  <quill-editor (onEditorChanged)="getContent($event)" id="editor" [modules]="config"></quill-editor>
  <button class="send-btn" (click)="sendMessage()">
    <mat-icon matTooltip="send">send</mat-icon>
  </button>
  <div class="uploadImageEditor">
    <label for="file" class="upload-file" >
      <i class="material-icons imageEditor">image</i>
    </label>
    <input
      (change)="imgUploadService.uploadImageEditor($event)"
      type="file"
      id="file"
      accept=".png,.jpg"
    />
  </div>
  
</div>

