.editor {
  position: relative;
  margin: 0 20px 20px;
  color: white;
  background-color: rgb(31, 33, 37);
  z-index: 999;

  quill-editor {
    height: 100px;
    width: 100%;
    z-index: 999;
    white-space: pre-wrap !important;
  }
  
  .send-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 1000;
    background-color: transparent;
    padding: 0;
    border: unset;
    color: white;
    cursor: pointer;
  }
}