.editor {
  position: relative;
  margin: 0 20px 20px;
  color: white;
  background-color: rgb(31, 33, 37);
  z-index: 999;

  quill-editor {
    height: 100px;
    width: 100%;
    z-index: 999;
    white-space: pre-wrap !important;
  }
  
  .send-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 1000;
    background-color: transparent;
    padding: 0;
    border: unset;
    color: white;
    cursor: pointer;
  }
}

.errorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(50% - 110px);
  top: calc(60% - 20px);
  height: 40px;
  width: 220px;
  padding: 5px;
  background-color: #ffffffcb;
  color: rgb(0, 0, 0);
  font-size: 16px;
  z-index: 1200;
  text-align: center;
  border-radius: 5px;
  animation: errorMessage 4.1s ease-in-out;
}

@keyframes errorMessage {
  0% {opacity: 0; transform: scale(0)};
  5% {opacity: 1; transform: scale(1)};
  95% {opacity: 1; transform: scale(1)};
  100% {opacity: 0; transform: scale(0)};
}