<div class="editor">
  <quill-editor
    (onEditorChanged)="getContent($event)"
    id="editor"
    [modules]="config"
  ></quill-editor>
  <button class="send-btn" (click)="sendMessage()">
    <mat-icon matTooltip="send">send</mat-icon>
  </button>
  <div class="uploadImageEditor" (click)="setImageUploadEditorRef()">
    <label for="fileEditor" class="upload-file">
      <i class="material-icons imageEditor" matTooltip="add up to 4 images"
        >image</i
      >
    </label>
    <input
      (change)="imgUploadService.uploadImageEditor($event)"
      type="file"
      id="fileEditor"
      accept=".png,.jpg,.jpeg,.svg"
    />
  </div>
  <mat-spinner
    class="loadingSpinner"
    [diameter]="40"
    *ngIf="
      imgUploadService.loading &&
      editorRef == imgUploadService.imgUploadEditorRef
    "
  ></mat-spinner>
</div>
