<div class="user-direct-msg-container">
  <div (click)="toggleDropdown()" class="direct-msg-hl flex-ac">
    <mat-icon
      [ngClass]="collapsed ? 'rotate90' : ''"
      style="transition: all 125ms ease-in-out"
      fontIcon="arrow_drop_down"
    ></mat-icon>
    <span>Direct Messages</span>
  </div>

  <div *ngIf="!collapsed">
    <div class="user-direct-msg flex-ac">
      <img src="./assets/img/profile_icon.png" />
      <p>Slackbot</p>
    </div>
    <div class="user-direct-msg flex-ac">
      <img src="./assets/img/profile_icon.png" />
      <p>Daniel</p>
    </div>
    <div class="user-direct-msg flex-ac">
      <img src="./assets/img/profile_icon.png" />
      <p>NAME</p>
    </div>
  </div>
</div>
