<div class="user-direct-msg-container">
  <div (click)="toggleDropdown()" class="direct-msg-hl flex-ac">
    <mat-icon
      [ngClass]="collapsed ? 'rotate90' : ''"
      style="transition: all 125ms ease-in-out"
      fontIcon="arrow_drop_down"
    ></mat-icon>
    <span>Direct Messages</span>
  </div>

  <div *ngIf="!collapsed">
    <app-chatlist-item
      *ngFor="let chat of chats"
      [name]="chat['USERS'][0].userName"
      [routerLink]="['/home/chat/' + chat.chatId]"
      routerLinkActive="activeLink"
      (click)="chatService.openChat(chat.chatId)"></app-chatlist-item>

      <div (click)="newChat()" class="channelitem channel flex-ac">
        <mat-icon class="add-item" fontIcon="add"></mat-icon>
        <p>Create new chat</p>
      </div>
  </div>

</div>
