<header>
  <img src="assets/img/logo.png">
  <h2>slack</h2>
</header>

<div class="mainContentContainer">
  <div class="mainContent">
    <h1>Sign In - enter your email & a new password</h1>
    <p>We suggest using the <span class="bold">email address that you use at work.</span></p>

    <form class="form">
      <mat-form-field class="inputEmail">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" #userEmail>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="inputEmail">
        <mat-label>Password</mat-label>
        <input type="email" matInput [formControl]="passwordFormControl" placeholder="password" #userPassword>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    
    <button mat-raised-button color="warn"(click)="authenticationService.SignUp (userEmail.value, userPassword.value)">Sign In</button>

    <div class="horizontalContent">
      <hr>
      <span>OR</span>
      <hr>
    </div>

    <button mat-stroked-button color="primary">Sign In with Google</button>
    <button mat-stroked-button color="basic">Sign In with Apple</button>
    <span class="spanQuestion">Already using Slack?</span>
    <a routerLink="/login" class="spanSignIn">Sign in to an existing workspace</a>
  </div>
</div>

<footer>
<a>Privacy & terms</a>
<a>Contact us</a>
<a>Change region</a>
</footer>